{% extends 'base.html.twig' %} {% block title %} - inscription{% endblock %} {%
block body %}
<section class="section">
  {% for flashError in app.flashes('verify_email_error') %}
  <div class="alert alert-danger" role="alert">{{ flashError }}</div>
  {% endfor %}

  {{ include("navbar.html.twig") }}
  <div class="row">
    <div class="col-10 offset-1 text-center py-3">
      <h2 class="pt-3 text-center">Inscription</h2>
      

    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-5 inscription">
      
      {{ form_start(registrationForm) }}
<p class="champs">Veuillez noter que tous les champs sont obligatoires et qu'une demande incomplète pourrait être rejetée.</p><br>

      {{ form_row(registrationForm.last_name, {'label': 'Nom', 'attr': {'placeholder': 'Nom d\'utilisateur' }}) }}
      {{ form_row(registrationForm.first_name, {'label': 'Prenom', 'attr': {'placeholder': 'Prenom d\'utilisateur' }})
      }}
      {{ form_row(registrationForm.email, {'label': 'E-mail', 'attr':  {'placeholder': 'Adresse e-mail' }}) }}
      {{ form_row(registrationForm.phone, {'label': 'Téléphone ', 'attr': {'placeholder': 'Numéro de téléphone' }}) }}
      <div style="display: none">
        {{ form_row(registrationForm.roles) }}
      </div>

      {{ form_row(registrationForm.plainPassword, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe' }})

      }}
  <div class="g-recaptcha" data-sitekey="6Le4bF8aAAAAAIca1amYUuNPBZzqzO23Gytjyogz"></div>    
 {{ form_row(registrationForm.agreeTerms, {'label':"J'accepte la politique de confidentialité et conditions general de vente" })}}
 
     
 
      <button type="submit" id="form-submit" class="btn btn-lg text-center mt-3 float-right">
        S'inscrire
      </button>

      {{ form_end(registrationForm) }}
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center inscription py-3">
      <a href="{{ path('app_login') }}" class="formulaire">Connectez-vous si vous êtes déjà inscrit</a>
    </div>
  </div>
</section>

{% endblock %}