{% extends 'baseUsers.html.twig' %}

{% block title %}accueil
{% endblock %}


{% block body %}


	{{ parent() }}
	<div class="col-10 p-3">


		<h2 class="py-3">
			Les coordonnées du destinataire</h2>


		{{form_start(form)}}
		<div class="row">

			<div class="col-md-6">{{form_row(form.first_name, {'label': 'Prenom'} )}}</div>
			<div class="col-md-6">{{form_row(form.last_name, {'label': 'Nom'})}}</div>
			<div class="col-md-6">{{form_row(form.phone, {'label': 'Téléphone'})}}</div>
		</div>
		<button type="submit" id="form-submit" class="btn float-right mb-3">Valider</button>
		{{form_end(form)}}
	</div>

{% endblock %}
