{% extends 'base.html.twig' %}

{% block title %} -commande
{% endblock %}

{% block body %}
<div class="container-fluid">
    {{ include('navbar.html.twig')}}
</div>
<div class="row">
    <div class="col-10 offset-1 text-center pt-5">
        <h2>Commande</h2>

    </div>
</div>
<div class="row">
    <div class="col-5 offset-1 mb-5 continuer">
        <a href="{{ path('cart_index') }}" class=" text-dark "><i class="fa fa-arrow-left" aria-hidden="true"></i>
            Retourner au panier</a>
    </div>
    </div>
<div class="row">
    <div class="col-3 offset-1 mb-2 commande_details">
        <h5 class="text-center">Livraison</h5>
        

        {% set formHtml %}
        {{form_start(form, {action:path('order_recap')})}}
        {{form_label(form.customer, "Choisir l'adresse de livraison")}}

        {{form_end(form)}}
        {% endset %}
<a href="{{path('add_destinataire')}}" class="formulaire"> Ajouter un destinataire </a>
        {{formHtml|replace({'[br]': '</br>'})|raw}}


    </div>

    {% if items | length > 0 %}

    <div class="col-7 offset-1">
        <h5 class="mb-3 text-center">Détails de la commande</h5>
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th>N</th>

                    
                    <th>Menu</th>
                  
                    <th>Prix</th>
                    <th>Quantité</th>
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}

                <tr>
                    <td>{{ loop.index }}.</td>

                    
                    <td>{{ item.menu.name }}</td>
                    
                    <td>{{ item.menu.price }}&euro;</td>
                    <td class="text-center">{{ item.quantity }}</td>
                    <td> {{ item.menu.price * item.quantity }}&euro;</td>

                </tr>

                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right"><strong>Total : </strong></td>
                    <td>{{ total }}&euro;</td>
                    
                </tr>
            </tfoot>
        </table>
    </div>
</div>







{% endif %}

{% endblock %}